<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePatterns" value="thumbs.db,*.obj,*.pdb,*.user,*.aps,*.pch,*.vspscc,*.vssscc,*_i.c,*_p.c,*.ncb,*.suo,*.tlb,*.tlh,*.bak,*.cache,*.ilk,*.log,*.lib,*.sbr,*.sdf,Ankh.NoLoad,*.resharper,~$*" />
    <add key="DirectoryPatterns" value=".DS_Store,ipch,obj,bin,debug*,release*,_ReSharper*,testresult*,build,.svn"/>
  </appSettings>
</configuration>